.cabecalho {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    background-color: #2D5377;
    color: #fff;
}

.cabecalho__logo {
    padding: 1.5em 0;
    width: 14.5em;
}

.cabecalho__menu {
    background-color: #272B3A87;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.cabecalho__item__menu {
    display: inline-block;
    padding: 1.86em 1.42em;
}
.cabecalho__item__menu:hover{
    background-color: rgb(207, 70, 70);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=block');

@media(min-width: 640px) {
    .cabecalho {
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__logo {
        padding: 2.5em 0;
    }

    .cabecalho__menu {
        background-color: inherit;
    }
}

@media (min-width: 770px) {
    .cabecalho__item-menu--matricular {
        margin-left: 1.42em;
        border-radius: 6px;
        background-color: #e93d50;
    }

    .cabecalho__item-menu--matricular a {
        padding: 1.8em 3.5em;
    }
}

@media (min-width: 1066px) {
    .cabecalho {
        padding-left: calc((100% - 960px) / 2);
        padding-right: calc((100% - 960px) / 2);
    }
}