.cabecalho {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    background-color: #2D5377;
    color: #fff;
}
.cabecalho__logo {
    padding: 1.5em 0;
    width: 14.5em;
}
.cabecalho__menu {
    background-color: #272B3A87;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.cabecalho__item__menu {
    display: inline-block;
    padding: 1.86em 1.42em;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=block');
@media(min-width: 640px) {
    .cabecalho {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    .cabecalho__menu {
        background-color: inherit;
    }
}
