.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "verde . ." "verde . .";
}


.foto {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000000aa;
    background-color: #ff002b;
    margin-bottom: 1rem;
}

.foto-destaque-verde {
    background-color: #24cc2d;
    grid-area: verde;
    grid-row: span 2;
    height: 400px;
}