body {
    font-family:'Lucida Grande', Helvetica, sans-serif;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    color:#3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}
h2 {
    border-bottom: 2px solid black;
    background-color: #E1EDF2;
}
figure {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}
figcaption {
    margin-top: 10px;
}
ul {
    list-style-image: url("../img/footer-icone-instagram.svg") ;
}
ol {
    list-style-type: upper-roman;
}
.matriz-musicdot {
    margin-right: auto;
    margin-left: auto;
    width: 550px;
}
.familia-tupfeln {
    float: right;
    width: 275px;
}
figure img {
    width: 100%;
}
